<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera aplicación con Django</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load static %} {% load custom_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Proyecto TP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% check_current_page 'index' %}" href="{% url 'index-page' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% check_current_page 'home' %}" href="{% url 'home' %}">Galería</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% check_current_page 'favourites' %}" href="{% url 'favoritos' %}">Favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'exit' %}">Salir</a> 
                    </li>
                    <li class="nav-item">
                        <span class="username">Hola, {{ request.user.username }}</span>                    
                    </li>                    
                    {% endif %}
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% check_current_page 'login' %}" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% check_current_page 'register' %}" href="{% url 'register' %}">Registrarse</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %} {% include "footer.html" %}