{% extends 'header.html' %} {% block content %}
<main>
    <h1 class="text-center">Galería de Imágenes de la NASA</h1>
    <div class="d-flex justify-content-center" style="margin-bottom: 1%">
        <!-- Buscador del sitio -->
        <form class="d-flex" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" id="search" type="search" value="{{ search_msg }}" name="query" placeholder="Escribí una palabra" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
    <div class="d-flex justify-content-end" style="margin-bottom: 1%">
        <div class="form-group row col-md-6">
            <label class="col-form-label col-md-11" style="text-align: right;">Imágenes por página: </label>
            <select class="form-control imagesByPage">
                <option value="3">3</option>
                <option value="6">6</option>
                <option value="9">9</option>
                <option value="12">12</option>
            </select>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 home">
        <div class="loadingSpinner"></div>
    </div>
</main>
{% endblock %}